/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.Mainbackground
{
    background-image: url('./Image/Image/panorama.jpeg');
    background-size: 140%;
    width: 1300px;
}