<div class="MainContainer">
    <div class="row">
      <div class="MainDiv">
        <h2 class="MainTitle">Edycja danych profilu</h2>
        <hr class="hr">
        <form autocomplete="off" novalidate class="form" [formGroup]="form">
          <div class="FormInputs">
            <div class="input-group-prepend">
              <div class="InputText" id="btnGroupAddon">
                Adres E-mail
              </div>
            </div>
            <input type="text" formControlName="email" class="form-control inputform" placeholder='{{ (userItem | async )?.email }}' aria-label="Input group example"
              aria-describedby="btnGroupAddon">
          </div>
  
          <div class="FormInputs">
            <div class="input-group-prepend">
              <div class="InputText" id="btnGroupAddon">
                Hasło
            </div>
              </div>
            <input type="password" formControlName="password" class="form-control inputform" placeholder='Wpisz hasło' aria-label="Input group example"
              aria-describedby="btnGroupAddon">
          </div>
  
  
          <div class="FormInputs">
            <div class="input-group-prepend">
              <div class="InputText" id="btnGroupAddon" style="margin-bottom: 10px;">
                Dane
              </div>
            </div>
            <input type="text" placeholder='{{ (userItem | async )?.firstName }}' formControlName="firstName" class="form-control inputform">
            <br>
            <input type="text" placeholder='{{ (userItem | async )?.lastName }}' formControlName="lastName" class="form-control inputform">
          </div>
  
          <hr class="hr">
          <div class="FormInputs">
            <button type="button" class="Animation MoveRight" (click)="onClickUpdate()">Zapisz zmiany&nbsp;<mat-icon class="Icon">assignment_turned_in</mat-icon></button>
            <button class="Animation MoveRight2" routerLink="/profile">Wróć&nbsp;<mat-icon class="Icon">keyboard_tab</mat-icon></button>
          </div>
        </form>
      </div>
    </div>
  </div>